name: CI

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: my-runners
    steps:
      - uses: actions/checkout@v4
      - run: |
          mkdir build && cd build && cmake .. && make -j16 && ctest
